.header
  .header__current-user
    =link_to "#" do
      =icon('fa', 'user-circle', class: "user-icon")
      .user-name
        name
  .header__cog-btn
    =link_to "#" do
      =icon('fa', 'cog', class: "cog-icon")