.side-bar
  .item-block
    =link_to "#",class: "item-link" do
      =icon('fa', 'circle', class: "item-icon")
  .item-block
    =link_to "#",class: "item-link" do
      =icon('fa', 'circle', class: "item-icon")
      .item-text
        project
  %button.additem-button
    %label.additem-button__button
      =icon('fa', 'plus')
      プロジェクトを追加する
  .additem-page
    %p project追加
    =form_with url: "#", local: true do |f|
      =f.submit 'はい', class: "additem-submit"
    %button{class: "cancel-btn"}
      キャンセル
  .item-overlay